/* 
--------
    Utility Styles
--------
*/

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
-------
Home Page
-------
*/
.loader {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

/* 
--------
ProductContainer Component
--------
*/

.product-listing {
  display: flex;
}
.filter-section {
  flex: 1.1;
  padding: 0 5px 0 10px;
}
.static-filter-tag {
  background-color: #fff;
  padding: 1rem;
  border-bottom: 1px solid #e0e0e1;
  margin-bottom: 10px;
}
.static-filter-tag h3 {
  font-weight: 500;
}
.brand-filter {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.brand-filter h4 {
  font-weight: 500;
  color: #5a5a59;
}
.brand-filter-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3125rem;
}
.sorting-section {
  flex: 4;
  padding: 0 8px 10px 5px;
}
.sorting-section-panel {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.control-panel {
  display: flex;
  gap: 15px;
}
.panel-caption {
  text-transform: uppercase;
  font-weight: 650;
  font-size: 1rem;
}
.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.productContainer a {
  text-decoration: none;
}

.brand-label-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 0.81rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #585757;
}

.brand-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.brand-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.125rem;
  width: 1.125rem;
  background-color: #fff;
  border: 0.0313rem solid #e0e0e1;
}

.brand-label-container:hover input ~ .brand-checkmark {
  background-color: #e0e0e1;
}

.brand-label-container input:checked ~ .brand-checkmark {
  background-color: var(--secondary-color);
}

.brand-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.brand-label-container input:checked ~ .brand-checkmark:after {
  display: block;
}

.brand-label-container .brand-checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sorting-btn {
  border: 1px solid #bdbdbd;
  font-size: 0.75rem;
  padding: 3px 10px;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgba(228, 228, 228, 0.5);
}
.sortingBtn_active {
  opacity: 100%;
  background-color: #fff;
  color: #008000;
  border: 1px solid #008000;
}

.applied-filter-section {
  padding: 1rem;
  margin: 8px 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.afs-display-none {
  display: none;
}
.applied-filter-tag {
  color: #585757;
  font-size: 0.9rem;
}

.filter-tag {
  border: 1px solid #bdbdbd;
  font-size: 0.9rem;
  align-items: center;
  padding: 2px 5px;
}

.product-not-found-container {
  padding: 0 0 2.5rem;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-not-found-image {
  width: 22%;
}

.product-not-found-container img {
  width: 100%;
  height: auto;
}
.product-not-found-container p {
  font-size: 1rem;
  font-weight: 500;
  color: #585757;
}
/* 
--------
login Component
--------
*/

.login-container {
  background-color: #fff;
  padding: 2rem 0;
  display: flex;
}
.login-container img {
  padding: 0 16px;
  width: 65%;
  height: 100%;
}

.login-form-container {
  margin: 0 16px;
  width: 40%;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
}
.login-form-container h3 {
  padding: 1rem 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid #e0e0e1;
  background-color: #f9fafd;
}
.login-form {
  padding: 1.5rem 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-form label {
  font-size: 0.9rem;
}
.login-form button:hover {
  background-color: #b8181b;
}

.register-new-user {
  text-align: center;
}
.register-new-user a {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
}
/* 
--------
Register Component
--------
*/
.register {
  background-color: #fff;
  padding: 3rem;
}
.register-form-container h3 {
  padding: 1rem 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid #e0e0e1;
  background-color: #f9fafd;
}
.register-form-container {
  width: 40%;
  margin: auto;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
}

.register-form {
  padding: 2rem 1.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.register-form label {
  font-size: 0.9rem;
}
.register-form button:hover {
  background-color: #b8181b;
}
.already-register-user {
  text-align: center;
  font-size: 0.9rem;
}
.already-register-user a {
  text-decoration: none;
  color: #b8181b;
  font-weight: 600;
}

/* 
--------
Products Details
--------
*/

.product-details {
  display: flex;
  border-bottom: 1px solid #e0e0e1;
  overflow: hidden;
}

.product-images-display {
  flex: 2;
  background-color: #fff;
  margin: 0 2px 0 0;
}
.displayImage-container {
  width: 65%;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.displayImage-container img {
  width: 100%;
  height: auto;
}

.product-images-slider {
  width: 500px;
  margin: auto;
}

.product-details-display {
  flex: 3;
}
.product-details-title-rating {
  background-color: #fff;
  margin: 0 0 2px 2px;
  padding: 1rem;
  flex-direction: column;
  gap: 8px;
}
.product-details-title {
  font-weight: 500;
  font-size: 1.2rem;
}
.product-details-rating {
  display: flex;
  align-items: center;
}
.product-features-price-section {
  display: flex;
  background-color: #fff;
  margin: 4px 0 0 2px;
  padding: 0 0 1.5rem 0;
  height: 80%;
}
.product-features-offer-section {
  flex: 1.8;
  padding: 1.5rem 1rem 0 1rem;
}
.product-addtocart-price-section {
  flex: 1.2;
  border-left: 1px solid #e0e0e1;
  padding: 1.5rem 1rem 0 1rem;
}
.product-featureslist-tag {
  text-transform: capitalize;
  font-weight: 700;
  color: #000000b3;
  font-size: 0.9375rem;
}
.product-featureslist {
  margin: 0.5rem 0 0 1rem;
  padding: 0 0 0 4px;
  line-height: 2;
  font-size: 0.9rem;
  color: #585757;
}
.product-details-price span {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-color);
}
.product-details-btn {
  display: flex;
  gap: 10px;
  padding: 1rem 0;
}

.product-details-btn button:nth-child(1):hover {
  background-color: var(--secondary-color);
}
.product-details-btn button:nth-child(2):hover {
  background-color: orangered;
}

.product-details-panel-list {
  display: flex;
  gap: 20px;
}
.product-details-panel-list li {
  list-style: none;
}
.product-details-panel-list li:hover {
  box-sizing: border-box;
  border-top: 2px solid rgb(69, 148, 238);
}
.product-details-panel-list li a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #585757;
}

.product-description-review-section {
  background-color: #fff;
}

.product-more-details-panel {
  position: sticky;
  z-index: 50;
  top: 104px;
  background-color: #fff;
  padding: 0 2rem;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 10px -7px;
  height: 25px;
}
.product-description {
  padding: 1rem 2rem;
  width: 65%;
}

/* 
--------
Cart Component
--------
*/

.cart-loader {
  padding: 3rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.empty-cart-container {
  background-color: #f5f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 3rem;
}

.empty-cart-text {
  text-transform: capitalize;
  color: #585757;
  font-size: 1.5rem;
  font-weight: 400;
}
.empty-cart-button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 3px;
  padding: 15px 40px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.empty-cart-button:hover {
  background-color: #b8181b;
}

.cart-container {
  display: flex;
  padding: 1.5rem 3rem;
}
.cart-product-listing {
  flex: 3.5;
  margin: 0 1.25rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.cart-bar {
  background-color: #fff;
  border: 1px solid #e0e0e1;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.cart-product-details a {
  text-decoration: none;
}
.checkout-form {
  flex: 1.5;
  padding: 0 0 0 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.cart-checkout-btn {
  width: 100%;
  padding: 0.625rem 0;
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-size: 0.75rem;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  cursor: pointer;
}

.checkout-total-summary {
  border: 1px solid #e0e0e1;
  border-radius: 3px;
  background-color: #fff;
  padding: 1rem;
  color: #585757;
  line-height: 2;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.cart-total-price {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.price-without-discount {
  font-weight: 600;
}
.cart-delivery-charges {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  border-bottom: 1px solid #e0e0e1;
  padding-bottom: 0.5rem;
}
.deilvery-price-tag {
  text-transform: uppercase;
  color: #43a047;
}
.checkout-form-heading {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}
.amt-payable-tag {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}
.cart-total-discounted-price {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0;
  align-items: center;
  border-bottom: 1px solid #e0e0e1;
  margin-bottom: 1rem;
}
.payable-amt {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.02rem;
}
.checkout-static-message {
  line-height: 1.5;
  font-size: 0.9rem;
  font-weight: 500;
}

/* 
------
404 page not found component
------
*/

.page-not-found {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
}
._404-message {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #585757;
}
._404-message a {
  text-decoration: none;
}

/* 
------
user-profile
------
*/

.user-account-container {
  padding: 1.5rem;
}
.profile-left-section {
  flex-direction: column;
  gap: 1rem;
  width: 20%;
  border-right: 1px solid #e0e0e1;
}
.about-user {
  background-color: #fff;
  padding: 1rem 1.5rem;
  overflow: hidden;
}
.profile-nav-drawer {
  background-color: #fff;
}
.profile-nav-drawer ul {
  list-style: none;
  overflow: hidden;
}
.profile-nav-drawer a {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9rem;
  color: #000;
}

.profile-nav-drawer .Logout-btn {
  font-weight: 700;
  font-size: 0.9rem;
  color: #000;
  cursor: pointer;
}

.profile-nav-drawer li {
  border-top: 1px solid #e0e0e1;
  padding: 0.8rem 1.5rem;
}
.profile-nav-drawer li.active {
  border-left: 4px solid #43a047;
  background-color: #f0f8ff;
}
.user-name {
  font-weight: 700;
}
.display-details {
  margin-left: 1rem;
  width: 80%;
  background-color: #fff;
}

.myaccount-page {
  padding: 1rem;
  gap: 1rem;
}

.myaccount {
  flex-direction: column;
  gap: 0.5rem;
}
.myaccount-card {
  padding: 1rem 0.6rem 0;
  border: 1px solid #e0e0e1;
  border-radius: 5px;
  width: 25%;
  text-decoration: none;
}

.myaccount-card-head {
  font-size: 1.1rem;
  font-weight: 650;
  color: var(--secondary-color);
}
.myaccount-card-text {
  font-size: 0.8rem;
  color: #727272;
}
.myaccount-card-img-container {
  width: 50%;
}

.myaccount-card-img-container img {
  width: auto;
  height: 60%;
}

/* 
--------
Checkout-page
--------
*/

.checkout-page {
  padding: 0.5rem 3rem 1rem;
}

.add-new-address-modal {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 150;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.address-form-container {
  position: relative;
  top: 2rem;
  width: 55%;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.adress-form-head {
  background-color: #3399cc;
  justify-content: space-between;
  padding: 0.9rem;
  color: #fff;
  font-weight: 500;
}

.add-new-address-btn-panel {
  background-color: #fff;
  position: sticky;
  bottom: 0;
  width: 90%;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-top: 1px solid #e0e0e1;
  z-index: 10;
}

.checkout-form-field {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checkout-form-field label {
  font-size: 0.9rem;
}

.address-submit-btn {
  padding: 0.5rem 2.5rem;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 600;
}
.address-cancel-btn {
  padding: 0.5rem 2.5rem;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 600;
}

.no-address-checkout-page {
  border: 1px solid #c9c9c9;
  width: 65%;
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.address-controls {
  display: flex;
  gap: 10px;
}
.address-controls button:nth-child(1) {
  background-color: var(--primary-color);
}
.address-controls button:nth-child(1):hover {
  background-color: #b8181b;
}
/* 
--------
Wishlist-Page
--------
*/
.wishlist-page {
  padding: 1.5rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.wishlist-card {
  border: 1px solid #e0e0e1;
  width: 12rem;
}
.wishlist-card:hover {
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
}
.wishlist-card-img-container {
  padding: 1.5rem;
}
.wishlist-card-img-container img {
  width: 100%;
  height: auto;
}
.wishlist-card-product-title {
  /* outline: 1px solid red; */
  height: 4.2rem;
  padding: 0 0.5rem 0.125rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--secondary-color);
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wishlist-card-product-price {
  padding: 0.5rem;
  background-color: #feefe8;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
}
.wishlist-card-btn-container {
  padding: 0.5rem;
}
.wislist-delete-btn {
  align-items: center;
  font-size: 0.8rem;
  width: 100%;
  color: #2e80fc;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.empty-wishlist-page {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 1rem;
}
.empty-wishlist-text {
  font-size: 0.9rem;
  font-weight: 650;
}
.empty-wishlist-btn {
  padding: 0.7rem 0.9rem;
  text-transform: capitalize;
  font-weight: 550;
  color: #fff;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 3px;
}

/* 
--------
Order History Page
--------
*/
.order-history-page {
  padding: 1.5rem;
}
.empty-order-page {
  padding: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.empty-order-img-text-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-order-img-text-container p {
  color: #727272;
  font-size: 1.5rem;
  font-weight: 400;
}
.empty-order-page-btn {
  padding: 1rem 2.5rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 550;
}

.final-cart-review {
  font-size: 0.9rem;
  font-weight: 550;
}
.final-cart-review ul {
  border-bottom: 1px solid #e0e0e1;
  padding: 0 0 5px;
}
.final-cart-review ul li {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding-bottom: 5px;
}
.final-cart-totalPrice {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.final-cart-totalPrice-price {
  font-size: 1rem;
  color: var(--secondary-color);
  padding-left: 1rem;
}

.cart-details-control {
  display: flex;
  justify-content: flex-end;
}
.cart-details-control button {
  background-color: var(--primary-color);
}

.cart-details-control button:hover {
  background-color: #b8181b;
}
