.card {
  position: relative;
  width: 14.125rem;
  height: 24rem;
  border: 1px solid #e0e0e1;
  border-radius: 3px;
  background-color: #fff;
  padding: 10px 15px 10px 10px;
  overflow: hidden;
  color: var(--secondary-color);
  cursor: pointer;
}
.card:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  color: var(--primary-color);
}
.img-container {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container img {
  width: 70%;
}
.img-container img:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

.product-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-price {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--secondary-color);
  padding-top: 4px;
}
.product-ratings {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
}
.wishlist-btn {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  justify-content: center;
  border-top: 1px solid #e0e0e1;
  color: grey;
}
