* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #e42529;
  --secondary-color: #003380;
  --globalbackground-color: #e9ebee;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: var(--globalbackground-color);
  position: relative;
}

.text-capitalise {
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  /* autohide top-bar */
  .autohideheader {
    display: none;
  }

  /* NavBar */
  .header-main {
    flex-direction: column;
    padding: 0.5rem;
    align-items: flex-start;
    position: sticky;
    top: 0;
  }
  .mobile-menu {
    display: block;
    padding: 0 0.5rem 0 0.3125rem;
  }
  .headerlogo {
    max-height: 2rem;
  }
  .header-main ul {
    display: none;
  }
  .header-main .search-box {
    width: 100%;
  }
  .search-input {
    height: 2rem;
  }
  .navbar {
    display: none;
  }

  /* Home Section */
  .section-header {
    justify-content: space-between;
    padding: 1rem 0;
  }

  /* Product Container */
  .productContainer {
    gap: 0.25rem;
  }
  .filter-section {
    display: none;
  }
  .sorting-section {
    padding: 0;
  }
  .sorting-section-panel {
    display: none;
  }
  .card {
    display: flex;
    width: 100%;
    height: 10rem;
  }
  .img-container {
    flex: 1;
  }
  .product-card-mobile-view {
    flex: 2;
  }
  /* Login page */
  .login-container img {
    display: none;
  }
  .login-form-container {
    width: 100%;
  }
  /* Register form */
  .register {
    padding: 1.5rem;
  }
  .register-form-container {
    width: 100%;
  }
  /* Footer */
  .footer {
    display: none;
  }
}
